{% extends "base.html" %}
{% load django_bootstrap5 %}



{% block main %}
    <!--<div class="search_box">-->
    <!--    <h1 class="title">Aione</h1>-->
    <!--    <div class="shadow p-3 mb-5 bg-white rounded">-->
    <!--        <p class="subtitle">{{ keyword1 }}</p>-->
    <!--        <p class="subtitle">{{ keyword2 }}</p>-->
    <!--        <p class="subtitle">{{ keyword3 }}</p>-->
            
    <!--        <img src="{{ image }}" alt="商品画像" hight="300px" width="300px" margin:0 auto>-->
    <!--        <p class="result_title">{{ title }}</p>-->
    <!--        <p>{{ price }}</p>-->
    <!--        <p><a href="{{ link }}" id="mylink">商品ページを見る</a></p>-->
    <!--    </div>-->
    <!--</div>-->

    <p>ここに楽天の画面を表示する</p>

            <!--    <section>-->
            <!--        <button type="submit" class=href="{% url 'raku_search' %}"><span>GO</span></button>-->
            <!--    </section> -->

            <!--<p><a href="{{ link }}" id="mylink">商品ページを見る</a></p>-->
            
            
            <iframe src="{ link }" width=”900″ height=”900″></iframe>
            <!--<p><a href="{{ link }}" id="mylink">商品ページを見る</a></p>-->
            

{% endblock %}

